:root {
    --bg-color1: #E6D7CE;
    --bg-color2: #5b321f;
    --bg-color3: #685e57;
  }



body {
height: 100vh;
margin: auto;}


main {
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: auto;
    margin:auto;
    background-image: url(./assets/img/JPG/main_background.jpg);
    background-size: cover;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 120px;
}

.logo{
width: 120px;
height: 120px;
background-image: url('./assets/img/svg/logo_1.png');
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;
transition: 0.3s;

}
.menu{
    display: flex;
    justify-content: space-between;
    width: 50%;
   
    
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 10%;
}

.nav-item{
    font-size: 24px;
    font-family: 'celine-peach-free-sans', sans-serif;
    color: var(--bg-color2);
    cursor: pointer;
}

.section{
    display: flex;
    width: auto;
    height: 480px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 2%;
    margin-right: 2%;

   
}
.image-wrapper{
    width: 640px;
    height: 480px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.about_Us{
  background-color: burlywood;
    background-position: center;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.we_offer{
    background-color: rgb(235, 202, 192);
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%; 
}
.image-about_us{
    background-image: url('./assets/img/JPG/IMG_20221019_183044_887.JPG');
    background-position: center;
    background-size: cover;
}
.image-we_offer{
    background-image: url('./assets/img/JPG/IMG_20221019_183538_820.JPG');
    background-position: center;
    background-size: cover;
}
.image-portfolio{
    background-image: url('./assets/img/JPG/IMG_20210920_160042_543.jpg');
    background-position: center;
    background-size: cover;
}
.image-contacts{
    background-image: url('./assets/img/JPG/logo_2.jpg');
    background-position: center;
    background-size: cover;
}
.text-wrapper{
    width: 600px;
    height: 480px;
    margin-left: 10%;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    background-color: var(--bg-color1);
}
.text-content{
    color: var(--bg-color2);
    font-family: 'Vesna';
    font-size: 28px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90px;
}
.footer-social-links {
    display: flex;
    width: 32px;
    height: 32px;
}

.footer-list-socialnet{
    display: flex;
    flex-direction: row;
    list-style-type:none
}
.footer-social-links-invert {
    filter: invert(74%);
    -webkit-filter: invert(74%);
}

.footer-social-links:hover {
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
    filter: invert(76%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(27%);
    -webkit-filter: invert(76%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(27%);
}

.social-links-instagram {
    background-image: url('./assets/img/svg/inst1.svg');
}

.social-links-facebook {
    background-image: url('./assets/img/svg/fb1.svg');
}

@font-face {
    font-family: 'AlFresco';
    src: url('/assets/fonts/AlFresco.ttf'), url('./assets/fonts/Celine\ Peach\ Sans.otf'),
        url('AlFresco.woff2') format('woff2'),
        url('AlFresco.woff') format('woff'),
        url('AlFresco.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Vesna';
    src: url('./assets/fonts/Vesna.ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family:'Bikham Cyr Script';
    src: url('./assets/fonts/Bikham\ Cyr\ Script.ttf');
    font-weight: 400;
    font-style: normal;
  }