html {
    scroll-behavior: smooth;
}

/* Работает в Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(236, 216, 189, 1); #5b321f;
  }
  
  /* Работает в Chrome, Edge и Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(236, 216, 189, 1);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #5b321f;
    border-radius: 20px;
    border: 1px solid rgba(236, 216, 189, 1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


:root {
    --bg-color1: #E6D7CE;
    --bg-color2: #5b321f;
    --bg-color3: #685e57;
    --main-color1: rgba(236, 216, 189, 1);
    --main-fill: rgba(236, 216, 189, 0.15);
    --button-text:rgba(33, 33, 33, 1);
    --main-color-black:rgba(33, 33, 33, 1)
    
  }

/* buttons */
.light-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 237px;
    cursor: pointer;
    background-color: var(--bg-color1);
    border: 1px solid black;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.dark-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 237px;
    cursor: pointer;
    background-color: var(--main-color1);
    border: 1px solid black;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}


.button-text{
    margin-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--button-text);
    font-weight: 400;
    font-size: 20px;
}

/* end buttons */


body { height: 100%;
     margin: auto; 
     width: 1920px;
     max-width: 1920px;
     background-color: rgba(33, 33, 33, 1); 
     z-index: 5;
     overflow-x: hidden;
     margin: 0, auto;
     border: #E6D7CE 2px solid;
}


main {
    display: flex;
    flex-direction: column;
    height: auto;
    margin:auto;
    z-index: 2;
    overflow-x: hidden;

}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90px;
    background-color: rgba(33, 33, 33, 1); 
    z-index: 5;
}

.logo{
width: 120px;
height: 120px;
background-image: url('./assets/img/svg/logo_1.png');
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;
transition: 0.3s;

}
.menu{
    display: flex;
    justify-content: space-between;
    width: 50%;
    z-index: 4;
   
    
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 10%;
}

.nav-item{
    font-size: 24px;
    font-family: 'celine-peach-free-sans', sans-serif;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.section{
    display: flex;
    width: auto;
    height: 480px;
   
    overflow: hidden;

   
}

.about_Us{
  flex-direction: column;
    flex-direction: column;
    height: 889px;
}


.about_Us-main{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 712px;
    z-index: 2;
    
}
.rectangle-blue{
   position: absolute;
   width: 1441px;
   height: 899px;
   left: 485px;
   top: 80px;
   background-image: url(./assets/img/png/Group\ 1.png);
  background-size: cover;

}

.about_Us-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
align-items: center;
    height: 177px;
    background-color: var(--main-color1);
    z-index: 1;
}
.about_Us-footer-rectangles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 170px;
    height: 120px;
    

}


.footer-rectagles-item-diamond{
    width: 54px;
    height: 54px;
    align-self: center;
    background-image: url(./assets/img/svg/diamond\ 1.svg);
}



.footer-rectagles-item-certifikate{
    width: 54px;
    height: 54px;
    align-self: center;
    background-image: url(./assets/img/svg/certificate\ 1.svg);
}


.footer-rectagles-item-guarantee-certificate{
    width: 54px;
    height: 54px;
    align-self: center;
    background-image: url(./assets/img/svg/guarantee-certificate\ 1.svg);
}


.about_Us-footer-rectangles-text{
    font-family: 'celine-peach-free-sans', sans-serif;
    color: rgb(0, 0, 0);
   text-align: center;
}

.image-wrapper{
    width: 640px;
    height: 480px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}


.image-about_us{
    position: relative;
    left: 335px;
    top: -15%;
    width: 1037px;
    height: 800px;
   background-image: url(./assets/img/svg/Лого_3_2.png);
   background-size: cover;
   z-index: 6;
   backdrop-filter: blur(1px);
  
}

.about_Us-sun{
    position: relative;
    background-image: url(./assets/img/svg/Sun.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
    z-index: 6;
}


.text-wrapper{
    width: 600px;
    height: 480px;
    border-radius: 5%;
}


h1{
    color: var(--main-color1);
    font-family: 'Amabile';
    font-weight: 800;
    font-size: 48px;
    line-height: 1.5;
  text-align: left;
  margin-left:180px;
  margin-top: 99px;
}

h2{
    font-family: 'Amabile', sans-serif ;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;
  text-align: left;
  margin-top: 99px; 
}

h3{
    font-family: 'Amabile', sans-serif ;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;
     text-align: left;
}

p{
    font-family: 'Amabile', sans-serif ;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
}

.subtitle-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}


.we_offer-title{
    width: 780px;
}


.we_offer-text{
    width: 600px;
    margin-bottom: 37px;

}

.we_offer{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 1420px;
    background-image: url(./assets/img/png/Group\ 2.png);
}

.image-we_offer{
    width: 582px;
    height: 775px;
    background-image: url(./assets/img/JPG/IMG_20210828_201004_002.jpg);
    background-size: cover;
    margin-left: 180px;
    margin-top: 119px;
  
}
.we-offer-button-rectangle{
    width: 36px;
    height: 36px;
    margin-left: 21px;
    background-image: url(./assets/img/svg/clock\ 1.svg);
    background-repeat: no-repeat;

}


.we_offer-content{
    display:c flex;
    flex-direction: column;
    width: 1000px;
    height: 1000px;
    margin-left: 107px;
    margin-top: 209px;
   
}


.we_offer-second-image{
    position: relative;
    width: 865px;
    height: 649px;
    top: -319px;
    margin-top: 50px;
    background-image: url(./assets/img/JPG/IMG_20210920_160034_118.jpg);
    background-size: contain;
}

.we_offer-rectangle{
    position: relative;
    width: 497px;
    height: 320px;
    transform: rotate(25deg);
    left: 650px;
    top: -119px;
    background-image: url(./assets/img/svg/Frame-semi-cirkle.svg);
    background-repeat: no-repeat;
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
}







.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1026px;
    background-color: var(--main-color1);
}
.portfolio-title h2{
    margin-top: 0px;
}
.title-dark{
   text-align: center;
   color: rgba(33, 33, 33, 1);
   font-weight: 700;
   margin-bottom: 10px;
}

.portfolio-subtitle{
    color: rgba(125, 86, 32, 1);
    text-align: center;
}
.portfoli-slider-left-button{
    width: 30px;
    height: 30px;
    background-image: url(./assets/img/png/next\ \(1\)\ 2.png);
}
.portfoli-slider-right-button{
    width: 30px;
    height: 30px;
    background-image: url(./assets/img/png/next\ \(1\)\ 1.png);
}

.portfolio-slider-kard-wrapper{
    display: flex;
    flex-direction: row;
    height: 480px;
    margin-top: 77px;
    margin-bottom: 77px;
    

}

.portfolio-slider-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.portfolio-slider-kard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 480px;
    margin-left: 20px;
    margin-right: 20px;
   
}

.card-image{
    width: 280px;
    height: 380px;
    background-size: cover;
}

.card-image1{
    background-image: url(./assets/img/JPG/IMG_20220217_191427_476.jpg);
}

.card-image2{
    background-image: url(./assets/img/JPG/IMG_20221019_183402_241.JPG);
}

.card-image3{
    background-image: url(./assets/img/JPG/IMG_20211001_165531_239.jpg);
}

.card-image4{
    background-image: url(./assets/img/JPG/IMG_20221019_183004_389.JPG);
}

.card-image5{
    background-image: url(./assets/img/JPG/IMG_20221019_182901_486.JPG);
}

.portfolio-slider-card-name span{
    font-family: 'Amabile', sans-serif ;
    color: var(--main-color-black);
    font-weight: 400;
    font-size: 38px;
    line-height: 1.5;
}

.portfolio-slider-card-prise span{
    font-family: 'Amabile', sans-serif ;
    color: var(--main-color-black);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.5;
}
.portfolio-button-dark{
margin-left: auto;
margin-right: auto;
}


.blog{
    display: flex;
    flex-direction: column;
    height: 1550px;
    width: auto;
    background-image: url(./assets/img/png/Group\ 6\ new.png);
}

.blog-title{
    margin-left: auto;
    margin-right: auto;
 
}
.blog-text-wrapper{
    width: 800px;
}

.blog-text-content{
    margin-top: 10%;
   margin-left: auto;
   margin-right: auto;
}
.blog-start{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.image-blog1{
    position: relative;
    left: -65px;
    top: -210px;
    width: 300px;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    background-image: url(./assets/img/JPG/IMG_20221019_183004_389.JPG);
    background-size: cover;
}

.image-blog2{
    position: relative;
    left: 65px;
    top: 13px;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    background-image: url(./assets/img/JPG/IMG_20220320_201022_944.jpg);
    background-size: cover;
}

.blog-news1-wrapper{
    display: flex;
    flex-direction: row;
}
.blog-news1{
    display: flex;
    flex-direction: row;
    height: 480px;
    width: 50%;
    margin: 1.5%;
}

.blog-news1-image{
    display: flex;
    width: 280px;
    height: 380px;
    background-image: url(./assets/img/JPG/IMG_20211001_165531_239.jpg);
    background-size: cover;
}
.blog-news1-text-wrapper{
    margin-left: 5%;
}
.blog-news1-text{
    width: 500px;
}

.price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1072px;
    background-color: var(--main-color1);
   
}

.price-title h2{
    margin-top: 0px;
}
.price-subtitle{
    color: rgba(125, 86, 32, 1);
    text-align: center;
}

.price-cards-wrapper{
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: 760px;
  
}

.price-cards-content{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    background: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    padding: 1%;
    margin: 1%;
    
}
.price-cards-content-subwrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   justify-content: space-between;
    margin-bottom: 2%;
    
}
.prise-card-content-subcontent{
    width: 70%;
}
.prise-card-content-subcontent h3{
    color: var(--main-color-black);
    font-weight: bolder;
}

.price-cards-content-subwrapper span{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
  font-weight: 900;
  font-size: 26px;
}
.price-cards-content-title{
    margin: 0%;
}

.price-cards-content-text{
   margin: 0%;
   color: var(--bg-color2);
}

.prise-subconteiner{
    display: flex;
    flex-direction: column;
}











.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90px;
}
.footer-social-links {
    display: flex;
    width: 32px;
    height: 32px;
}

.footer-list-socialnet{
    display: flex;
    flex-direction: row;
    list-style-type:none
}
.footer-social-links-invert {
    filter: invert(74%);
    -webkit-filter: invert(74%);
}

.footer-social-links:hover {
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
    filter: invert(76%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(27%);
    -webkit-filter: invert(76%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(27%);
}

.social-links-instagram {
    background-image: url('./assets/img/svg/inst1.svg');
}

.social-links-facebook {
    background-image: url('./assets/img/svg/fb1.svg');
}

@font-face {
    font-family: 'AlFresco';
    src: url('/assets/fonts/AlFresco.ttf'), url('./assets/fonts/Celine\ Peach\ Sans.otf'),
        url('AlFresco.woff2') format('woff2'),
        url('AlFresco.woff') format('woff'),
        url('AlFresco.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Vesna';
    src: url('./assets/fonts/Vesna.ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family:'Bikham Cyr Script';
    src: url('./assets/fonts/Bikham\ Cyr\ Script.ttf');
    font-weight: 400;
    font-style: normal;
  }

  
  @font-face {
    font-family:'Roboto';
    src: url('./assets/fonts/Roboto.ttf');
    font-weight: 400;
    font-style: normal;
  }

  
  @font-face {
    font-family:'Roboto2';
    src: url('./assets/fonts/Roboto2.ttf');
    font-weight: 400;
    font-style: normal;
  }

   
  @font-face {
    font-family:'Amabile';
    src: url('./assets/fonts/Amabile.ttf');
    font-weight: 400;
    font-style: normal;
  }